#vue-expenses
  .expense
    padding: 15px
    .amount
      +clickable(silver)

  .editing
    color: silver
    .amount
      display: none
    .form-control
      width: 100px
      display: inline-block

  .destroy-expense
    +clickable(red)
    color: silver
    display: inline-block

#new-expense
  .field
    margin-left: 15px
    margin-bottom: 15px

    i
      position: relative
      top: 6px
      left: -40px
      color: gray

