%h1 Listing expenses

#vue-expenses{ expensesUrl: expenses_url }
  %ul
    %li{ 'v-repeat' => 'expenses' }
      &yen; {{ amount }}
      -# TODO:
      -# = link_to '[Edit]', edit_expense_path(expense)
      -# = link_to '[x]', expense, :method => :delete, :data => { :confirm => 'Are you sure?' }

= link_to 'New Expense', new_expense_path
