%h1 Listing expenses

%script#expense-template{ type: 'text/x-template' }
  .expense-amount &yen; {{ amount }}
  %a.destroy-expense{ 'v-on' => 'click: destroy' } [x]
  -# TODO:
  -# = link_to '[Edit]', edit_expense_path(expense)

#vue-expenses{ expensesUrl: expenses_url }
  %ul
    %li{ 'v-component' => 'expense', 'v-repeat' => 'expenses' }

= link_to 'New Expense', new_expense_path
